Django==5.0.1
django-appconf==1.0.6
django-cors-headers==4.3.1
django-select2==8.1.2
djangorestframework==3.14.0
joblib==1.4.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
keras==3.3.3
matplotlib==3.9.0
matplotlib-inline==0.1.6
numpy==1.26.4
numtowords==0.0.1
opencv-python==4.10.0.82
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
overrides==7.4.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pdfrw==0.4
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.0.0
plotly==5.22.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.1
scikit-learn==1.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
virtualenv==20.25.0